langchain_groq
langchain
python_dotenv
pinecone
pinecone-text
pinecone-notebooks 
transformers
datasets
sentence-transformers
pandas 
openpyxl
extract_msg
pytesseract
python-docx
pypdf
fastapi
uvicorn
python-multipart
langchain_community
langchain 
langchain_openai
pdfplumber 
pillow 
unstructured